# ========================
# ENV (CRÍTICO)
# ========================
.env
**/.env

# ========================
# BACKEND - MAVEN
# ========================
backend/**/target/
backend/**/.mvn/
backend/**/*.log

# ========================
# FRONTEND - ANGULAR
# ========================
frontend/**/node_modules/
frontend/**/dist/

# ========================
# IDEs
# ========================
**/.idea/
**/.vscode/
**/*.iml

# ========================
# OS
# ========================
.DS_Store
backend/**/.DS_Store

